<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595895658698-arjgfpdnbsnnl7a23nv636fu3lumti53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595895658698-arjgfpdnbsnnl7a23nv636fu3lumti53</string>
	<key>API_KEY</key>
	<string>AIzaSyBR70-S0X-MCj_triK5rhJte9pRNKPgTwk</string>
	<key>GCM_SENDER_ID</key>
	<string>595895658698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oblivionmgd.mirsctrl</string>
	<key>PROJECT_ID</key>
	<string>mirsctrl-js</string>
	<key>STORAGE_BUCKET</key>
	<string>mirsctrl-js.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595895658698:ios:7ff768b36f2386f7dd6c33</string>
	<key>DATABASE_URL</key>
	<string>https://mirsctrl-js.firebaseio.com</string>
</dict>
</plist>